# Server Port
PORT=3000

# Environment Mode (production / development)
NODE_ENV=production

# Database Connection (MySQL / MariaDB)
DATABASE_URL="mysql://dbuser:strongpassword@localhost:3306/inventory_system"

# Frontend Origin URL (untuk CORS dan validasi Cookie)
FRONTEND_URL="https://asset.yourdomain.com"

# Secret Key untuk Hash JWT / Token (Gunakan string acak dan rahasia)
AUTH_SECRET="ganti_dengan_random_secret_panjang_dan_aman_123456789"

